.flex-fluid {
    margin-right: -1rem;
    margin-left: -1rem;
}
.flex {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap
}

@media (min-width:48rem) {
    .column-half {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }
    .column-quarter {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
    }
    .column-third {
        -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
    }
    .columns-1 .entry-item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }
    .columns-2 .entry-item {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }
    .columns-3 .entry-item {
        -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
    }
    .columns-4 .entry-item {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
    }
    .columns-5 .entry-item {
        -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
        max-width: 20%
    }
    .columns-6 .entry-item {
        -ms-flex-preferred-size: 16.6666666666%;
        flex-basis: 16.6666666666%;
        max-width: 16.6666666666%
    }
    .columns-7 .entry-item {
        -ms-flex-preferred-size: 14.28%;
        flex-basis: 14.28%;
        max-width: 14.28%
    }
}