.galery, .cat {
    background: #fff!important;
}
/* GALERIA */
.galery {

}
/* CATEGORIA */
.cat {
    .article {
        display: block;
        position: relative;
        text-align: center;
        a {display: block;}
        a {
            img {
                display: block;
                width: 100%;
            }
        }
        a:last-child {            
            h2 {
                margin: 0;
                background: rgba(0,0,0, .5);
                padding: .7rem 1rem;
                position: absolute;
                bottom: 0;
                width: 100%;
                color: var(--light);
                font-weight: 500;
                padding: .3rem 1rem;
                text-align: center;
                transition: background .7s ease;
                font-weight: 600;
                &:hover {
                    background: rgba(white, .5);
                    color: #000;
                    font-weight: 600;
                }
            }
        }
    }
}