.galery, .cat, .main-s {
    background: #fff!important;
}
/* GALERIA */
.galery {

}
/* CATEGORIA */
.cat_card {
    .article {
        display: block;
        position: relative;
        text-align: center;
        a {display: block;}
        a {
            img {
                display: block;
                width: 100%;
            }
        }
        a:last-child {            
            h2 {
                margin: 0;
                background: rgba(0,0,0, .5);
                position: absolute;
                bottom: 0;
                width: 100%;
                color: var(--light);
                padding: .3rem 1rem;
                text-align: center;
                transition: background .7s ease;
                font-weight: 600;
                font-family: var(--font-2);
                font-size: 1.2rem;
                &:hover {
                    background: rgba(white, .5);
                    color: #000;
                    font-weight: 600;
                }
            }
        }
    }
}
/* Main Blog */
.main-s {
    h2 {
        padding: .3rem 1rem;
        background: var(--dark);
        color: var(--light);
        font-size: 1.14rem;
    }
    #blog {
        padding-right: 10px;
        article.articleCard {
            display: flex;
            margin-bottom: 2rem;
            a {
                padding-right: 1rem;
                display: block;
                .imgerContainer {
                    width: 300px;
                    height: 200px;
                    transition: opacity .2s;
    
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                .sr-only {
                    position: absolute;
                    width: 1px;
                    height: 1px;
                    padding: 0;
                    margin: -1px;
                    overflow: hidden;
                    clip: rect(0, 0, 0, 0);
                    border: 0;
                }
            }
            .bodyContainer {
                position: relative;
                min-height: 200px;
                max-height: 200px;
                h3, h2 {
                    margin: 0;
                    margin-bottom: .5rem;
                }
                p {
                    text-align: justify;
                    margin: 0;
                    margin-bottom: .5rem;
                    font-size: 15px;
                }
                a.btn {
                    background: var(--primary-color);
                    color: var(--light);
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    padding: .6rem 1rem;
                    bottom: 0;
                }
            }
        }
    }

    /* Seccion ASIDE */
    #secondary {
        padding-left: 30px;
        border-left: 2px solid #f0f0f0;
        font-size: 15px;
        .about-wrapper {
            padding: 0 0 30px;
            .about-image {
                width: 250px;
                height: 250px;
                margin: 0 auto 20px;
                border-radius: 50%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                @include fromin(960px){
                    width: calc(100% - 80px);
                    margin: 0 40px 20px;
                    height: auto;
                    padding-bottom: calc(100% - 80px);
                }
            }
        }
        .legal-wrapper {
            border-top: 2px solid #f0f0f0;
            padding-top: 1rem;
        }
    } 
}