html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    font: normal 500 1rem var(--font-1);
    background: var(--dark);
}
ul{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
a {
    color: #0f7faf;
}
a:visited {
    color: #0f7faf
}
a:hover,
a:focus,
a:active {
    color: #363940;
}
a:focus {
    outline: thin dotted;
}
a:hover,
a:active {
    outline: 0
}

p {
    margin-top: 0;
    line-height: 1.5rem;
    font-weight: normal;
}
section {
    padding: 2rem 0 0;
}
.fluid {
    width: 100%;
    height: auto;
}

/* PADDINGS*/
.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.s-py{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
@include fromin(lg) {
    .lg-py {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}
.s-px {
    padding-left: 1rem;
    padding-right: 1rem;
}
@include fromin (lg) {
    .lg-px {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.text-dark {
    color: var(--dark);
}

.text-light {
    color: var(--light);
}

.text-gray {
    color: var(--gray);
}

.text-center {
    text-align: center;
}

.text-sm {
    font: normal 700 .9rem var(--font-1);
}
.text-md {
    font: normal 700 1.2rem/1.4rem var(--font-1);
}

.text-lg {
    font: normal bold 2rem/1.8rem var(--font-1);
}

.uppercase {
    text-transform: uppercase;
}

.flex {
    display: flex;
    &.flex-row {
        flex-direction: row;
    }
    &.flex-column {
        flex-direction: column;
    }
    &.flex-wrap {
        flex-wrap: wrap;
    }
    &.justify-content-center {
        justify-content: center;
    }
}

.p-0 {
    padding: 0;
}

.p-para {
    font: normal 200 1rem var(--font-1);
    margin: 0;
    margin-bottom: 1rem;
    color: var(--gray);
}

.embed-responsive {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
    margin-bottom: .5rem;
    /* &:last-child {
        margin-bottom: 0;
    } */
    & .embed-responsive-item,
    & iframe {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0
    }
    &:before {
        display: block;
        content: ""
    }
    &-16by9:before {
        padding-top: 56.25%
    }
}
/* BOTONES */
.form-group {
    background: var(--light);
    box-shadow: var(--box-shadow);
}
.input-control {
    border: none;
    padding: .6rem 1rem;
    background: transparent;
    font: normal 300 .9rem var(--font-1);
}
.btn {
    padding: .8rem 1rem;
    cursor: pointer;
    &-arti {
        background: var(--primary-color);        
    }
}
.btn-submit {
    border: none;    
    transition: background .5s ease;
    &:hover {
        background: var(--primary-color);
    }
}