/* SECTION MENU AREA */
.header-area {
    width: 100%;
    position: absolute;
    z-index: var(--z-normal);
    padding-top: 10px;
    background: linear-gradient(to bottom, #00000059, #ffffff00);
    @include fromin(961px) {
        background: linear-gradient(to bottom, #00000059, #ffffff00);
    }
    .emagrid {
        padding: 0;
    }
    .nav {
        display: flex;
        flex-direction: row;
        //align-items: center;
        .toggle-button {
            margin-left: auto;
            display: none;
            border: 1px solid var(--light);
            color: var(--primary-color);
            font-size: 1.5rem;
            padding: .1rem 1rem;
            border-radius: 5px;
            box-shadow: var(--box-shadow);
            cursor: pointer;
            height: 42px;
            &:hover {
                color: var(--gray);
            }
        }
        .navbar-nav {//ul
            margin: 0;
            display: flex;
            list-style-type: none;
            flex-direction: row;
            justify-content: space-between;            
            @include fromin(961px) {
                padding-left: 1rem;
                height: 35px;
            }
            .nav-link {//li
                text-align: center;
                transition: background .4s ease;
                //padding: .5rem 1vw;
                /* &:nth-child(5) {
                    width: 170px;
                } */
                .link {
                    display: block;
                    padding: .5rem 1vw;
                    transition: background .7 ease;
                }
                &:hover {
                    background: var(--primary-color);
                    .subnavbar-nav {
                        display: block;
                    }
                }
                .subnavbar-nav {//ul
                    margin: 0;
                    padding: 0;
                    background: var(--yellow);
                    display: none;
                    li {
                        list-style: none;
                        a {
                            display: block;
                            padding: .5rem 1vw;
                            color: var(--primary-color);
                            &:hover {
                                color: var(--light);
                            }
                        }
                        &:hover {
                            background: var(--primary-color_alt);
                        }                        
                    }
                }
            }
        }
        .collapse {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: flex-end;
            align-items: center;
            .search {
				margin-left: 1rem;
			}
        }
        .nav-brand {
            font: normal 700 1.1rem var(--font-mont);
            height: 55px;
            overflow: hidden;
            img {
                height: 65px;
            }
        }        
    }
}
/* SECTION BANNER AREA */
.banner-area {
	position: relative;
	.banner {
		position: relative;
		top: 0;
		z-index: var(--z-back);
		width: 100%;
		height: 100%;
		img{
			height: 250px;
			display: block;
			@include fromin(md) {
				height: auto;
			}
		}
	}
	.banner-title {
		position: absolute;
		bottom: 2rem;
		width: 100%;
		font: normal 800 1.5rem/1rem var(--font-2);
		z-index: var(--z-fixed);
	}
}

/* SECTION MOVIE AREA */
.movie{
	position: relative;
	video.video-agencia {
		height: 100vh;
		width: 100%;
		object-fit: cover;
		display: block;
	}
	.movie_text {
		width: 100%;
		position: absolute;
		bottom: 1.7rem;
		h1, h2 {
			font-size: 3.7rem;
			margin-bottom:1.5rem;
			line-height: 3.7rem;
			@include from(sm){
				font-size: 2.5rem;
				margin-bottom: 0.8rem;
				line-height: 2.5rem;
			}
		}
		p {
			font-size: 1.5rem;margin: 1rem 0;
			@include from(sm){
				font-size: 1rem;
				margin-top: 0.5rem;
				line-height: 1rem;
			}
		}
		h1, h2, p {			
			display: block;
			width: 100%;
			//text-align: center;
		}
	}
}

/* OVERLAY PARA BANNER O MOVIE */
.overlay {
	background: #000;
	display: block;
	opacity: 1;//.8
}

/* SECTION FOOTER AREA */
footer {
    background: var(--primary-color);
	padding: 1.5rem 0 0;
}