/* BASE SYSTEM */
/* SCSS VARIABLES */
:root {
  --primary-color:        #749536;
  --primary-color_alt:    #566f28;
  --second-color:         #a35a20;
  --second-color_alt:     #7e4211;
  --border:               #e9e9e9;
  --gray:                 #8D8D8D;
  --gray_alt:             #343a40;
  --light:                #f8f9fa;
  --light_alt:            #fbfbfb;
  --dark:                 #343a40;
  /* Font Family */
  --font-1:               'Mont', cursive;
  --font-2:               'Rale', cursive;
  /* Border Colors */
  --box-shadow:           0 0 1.2rem #090a0a7a;
  --box-shadow2:          0 .5rem 1.5rem #0d2e2e23;
  --box-shadow3:          0 .3rem 4rem #252c2c2f; }

:root {
  --z-back:               -10;
  --z-normal:             1;
  --z-tooltip:            10;
  --z-fixed:              100;
  --z-modal:              1000; }

/* Font Family */
@font-face {
  font-family: 'Mont';
  src: url(../../vendor/fonts/Montserrat/Montserrat-Regular.ttf); }

@font-face {
  font-family: 'Rale';
  src: url(../../vendor/fonts/Raleway/Raleway-Regular.ttf); }

/* variables */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

body {
  font: normal 500 1rem var(--font-1);
  background: var(--dark); }

ul {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

a {
  color: #0f7faf; }

a:visited {
  color: #0f7faf; }

a:hover,
a:focus,
a:active {
  color: #363940; }

a:focus {
  outline: thin dotted; }

a:hover,
a:active {
  outline: 0; }

p {
  margin-top: 0;
  line-height: 1.5rem;
  font-weight: normal; }

section {
  padding: 2rem 0 0; }

.fluid {
  width: 100%;
  height: auto; }

/* PADDINGS*/
.mr-auto {
  margin-right: auto; }

.ml-auto {
  margin-left: auto; }

.s-py {
  padding-top: 1rem;
  padding-bottom: 1rem; }

@media screen and (min-width: 1124px) {
  .lg-py {
    padding-top: 2rem;
    padding-bottom: 2rem; } }

.s-px {
  padding-left: 1rem;
  padding-right: 1rem; }

@media screen and (min-width: 1124px) {
  .lg-px {
    padding-left: 2rem;
    padding-right: 2rem; } }

.text-dark {
  color: var(--dark); }

.text-light {
  color: var(--light); }

.text-gray {
  color: var(--gray); }

.text-center {
  text-align: center; }

.text-sm {
  font: normal 700 0.9rem var(--font-1); }

.text-md {
  font: normal 700 1.2rem/1.4rem var(--font-1); }

.text-lg {
  font: normal bold 2rem/1.8rem var(--font-1); }

.uppercase {
  text-transform: uppercase; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .flex.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .flex.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .flex.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .flex.justify-content-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.p-0 {
  padding: 0; }

.p-para {
  font: normal 200 1rem var(--font-1);
  margin: 0;
  margin-bottom: 1rem;
  color: var(--gray); }

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  margin-bottom: .5rem;
  /* &:last-child {
        margin-bottom: 0;
    } */ }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }
  .embed-responsive:before {
    display: block;
    content: ""; }
  .embed-responsive-16by9:before {
    padding-top: 56.25%; }

/* BOTONES */
.form-group {
  background: var(--light);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow); }

.input-control {
  border: none;
  padding: .6rem 1rem;
  background: transparent;
  font: normal 300 0.9rem var(--font-1); }

.btn {
  padding: .8rem 1rem;
  cursor: pointer; }
  .btn-arti {
    background: var(--primary-color); }

.btn-submit {
  border: none;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  transition: background .5s ease; }
  .btn-submit:hover {
    background: var(--primary-color); }

*,
::before, ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:root {
  --gap: 1rem; }
  @media screen and (min-width: 768px) {
    :root {
      --gap: 1.5rem; } }

.emagrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: var(--gap);
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 1124px;
  margin-left: auto;
  margin-right: auto; }
  .emagrid .emagrid, .emagrid-fluid {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-left: 0; }

.sm-grid-1 {
  -ms-grid-columns: (calc((100% - var(--gap) * 0) / 1))[1];
  grid-template-columns: repeat(1, calc((100% - var(--gap) * 0) / 1)); }

.sm-cols-1 {
  -ms-grid-column-span: 1;
  grid-column-end: span 1; }

.sm-grid-2 {
  -ms-grid-columns: (calc((100% - var(--gap) * 1) / 2))[2];
  grid-template-columns: repeat(2, calc((100% - var(--gap) * 1) / 2)); }

.sm-cols-2 {
  -ms-grid-column-span: 2;
  grid-column-end: span 2; }

.sm-grid-3 {
  -ms-grid-columns: (calc((100% - var(--gap) * 2) / 3))[3];
  grid-template-columns: repeat(3, calc((100% - var(--gap) * 2) / 3)); }

.sm-cols-3 {
  -ms-grid-column-span: 3;
  grid-column-end: span 3; }

.sm-grid-4 {
  -ms-grid-columns: (calc((100% - var(--gap) * 3) / 4))[4];
  grid-template-columns: repeat(4, calc((100% - var(--gap) * 3) / 4)); }

.sm-cols-4 {
  -ms-grid-column-span: 4;
  grid-column-end: span 4; }

.sm-grid-5 {
  -ms-grid-columns: (calc((100% - var(--gap) * 4) / 5))[5];
  grid-template-columns: repeat(5, calc((100% - var(--gap) * 4) / 5)); }

.sm-cols-5 {
  -ms-grid-column-span: 5;
  grid-column-end: span 5; }

.sm-grid-6 {
  -ms-grid-columns: (calc((100% - var(--gap) * 5) / 6))[6];
  grid-template-columns: repeat(6, calc((100% - var(--gap) * 5) / 6)); }

.sm-cols-6 {
  -ms-grid-column-span: 6;
  grid-column-end: span 6; }

.sm-grid-7 {
  -ms-grid-columns: (calc((100% - var(--gap) * 6) / 7))[7];
  grid-template-columns: repeat(7, calc((100% - var(--gap) * 6) / 7)); }

.sm-cols-7 {
  -ms-grid-column-span: 7;
  grid-column-end: span 7; }

.sm-grid-8 {
  -ms-grid-columns: (calc((100% - var(--gap) * 7) / 8))[8];
  grid-template-columns: repeat(8, calc((100% - var(--gap) * 7) / 8)); }

.sm-cols-8 {
  -ms-grid-column-span: 8;
  grid-column-end: span 8; }

.sm-grid-9 {
  -ms-grid-columns: (calc((100% - var(--gap) * 8) / 9))[9];
  grid-template-columns: repeat(9, calc((100% - var(--gap) * 8) / 9)); }

.sm-cols-9 {
  -ms-grid-column-span: 9;
  grid-column-end: span 9; }

.sm-grid-10 {
  -ms-grid-columns: (calc((100% - var(--gap) * 9) / 10))[10];
  grid-template-columns: repeat(10, calc((100% - var(--gap) * 9) / 10)); }

.sm-cols-10 {
  -ms-grid-column-span: 10;
  grid-column-end: span 10; }

.sm-grid-11 {
  -ms-grid-columns: (calc((100% - var(--gap) * 10) / 11))[11];
  grid-template-columns: repeat(11, calc((100% - var(--gap) * 10) / 11)); }

.sm-cols-11 {
  -ms-grid-column-span: 11;
  grid-column-end: span 11; }

.sm-grid-12 {
  -ms-grid-columns: (calc((100% - var(--gap) * 11) / 12))[12];
  grid-template-columns: repeat(12, calc((100% - var(--gap) * 11) / 12)); }

.sm-cols-12 {
  -ms-grid-column-span: 12;
  grid-column-end: span 12; }

@media screen and (min-width: 768px) {
  .md-grid-1 {
    -ms-grid-columns: (calc((100% - var(--gap) * 0) / 1))[1];
    grid-template-columns: repeat(1, calc((100% - var(--gap) * 0) / 1)); }
  .md-cols-1 {
    -ms-grid-column-span: 1;
    grid-column-end: span 1; }
  .md-grid-2 {
    -ms-grid-columns: (calc((100% - var(--gap) * 1) / 2))[2];
    grid-template-columns: repeat(2, calc((100% - var(--gap) * 1) / 2)); }
  .md-cols-2 {
    -ms-grid-column-span: 2;
    grid-column-end: span 2; }
  .md-grid-3 {
    -ms-grid-columns: (calc((100% - var(--gap) * 2) / 3))[3];
    grid-template-columns: repeat(3, calc((100% - var(--gap) * 2) / 3)); }
  .md-cols-3 {
    -ms-grid-column-span: 3;
    grid-column-end: span 3; }
  .md-grid-4 {
    -ms-grid-columns: (calc((100% - var(--gap) * 3) / 4))[4];
    grid-template-columns: repeat(4, calc((100% - var(--gap) * 3) / 4)); }
  .md-cols-4 {
    -ms-grid-column-span: 4;
    grid-column-end: span 4; }
  .md-grid-5 {
    -ms-grid-columns: (calc((100% - var(--gap) * 4) / 5))[5];
    grid-template-columns: repeat(5, calc((100% - var(--gap) * 4) / 5)); }
  .md-cols-5 {
    -ms-grid-column-span: 5;
    grid-column-end: span 5; }
  .md-grid-6 {
    -ms-grid-columns: (calc((100% - var(--gap) * 5) / 6))[6];
    grid-template-columns: repeat(6, calc((100% - var(--gap) * 5) / 6)); }
  .md-cols-6 {
    -ms-grid-column-span: 6;
    grid-column-end: span 6; }
  .md-grid-7 {
    -ms-grid-columns: (calc((100% - var(--gap) * 6) / 7))[7];
    grid-template-columns: repeat(7, calc((100% - var(--gap) * 6) / 7)); }
  .md-cols-7 {
    -ms-grid-column-span: 7;
    grid-column-end: span 7; }
  .md-grid-8 {
    -ms-grid-columns: (calc((100% - var(--gap) * 7) / 8))[8];
    grid-template-columns: repeat(8, calc((100% - var(--gap) * 7) / 8)); }
  .md-cols-8 {
    -ms-grid-column-span: 8;
    grid-column-end: span 8; }
  .md-grid-9 {
    -ms-grid-columns: (calc((100% - var(--gap) * 8) / 9))[9];
    grid-template-columns: repeat(9, calc((100% - var(--gap) * 8) / 9)); }
  .md-cols-9 {
    -ms-grid-column-span: 9;
    grid-column-end: span 9; }
  .md-grid-10 {
    -ms-grid-columns: (calc((100% - var(--gap) * 9) / 10))[10];
    grid-template-columns: repeat(10, calc((100% - var(--gap) * 9) / 10)); }
  .md-cols-10 {
    -ms-grid-column-span: 10;
    grid-column-end: span 10; }
  .md-grid-11 {
    -ms-grid-columns: (calc((100% - var(--gap) * 10) / 11))[11];
    grid-template-columns: repeat(11, calc((100% - var(--gap) * 10) / 11)); }
  .md-cols-11 {
    -ms-grid-column-span: 11;
    grid-column-end: span 11; }
  .md-grid-12 {
    -ms-grid-columns: (calc((100% - var(--gap) * 11) / 12))[12];
    grid-template-columns: repeat(12, calc((100% - var(--gap) * 11) / 12)); }
  .md-cols-12 {
    -ms-grid-column-span: 12;
    grid-column-end: span 12; } }

@media screen and (min-width: 1124px) {
  .lg-grid-1 {
    -ms-grid-columns: (calc((100% - var(--gap) * 0) / 1))[1];
    grid-template-columns: repeat(1, calc((100% - var(--gap) * 0) / 1)); }
  .lg-cols-1 {
    -ms-grid-column-span: 1;
    grid-column-end: span 1; }
  .lg-grid-2 {
    -ms-grid-columns: (calc((100% - var(--gap) * 1) / 2))[2];
    grid-template-columns: repeat(2, calc((100% - var(--gap) * 1) / 2)); }
  .lg-cols-2 {
    -ms-grid-column-span: 2;
    grid-column-end: span 2; }
  .lg-grid-3 {
    -ms-grid-columns: (calc((100% - var(--gap) * 2) / 3))[3];
    grid-template-columns: repeat(3, calc((100% - var(--gap) * 2) / 3)); }
  .lg-cols-3 {
    -ms-grid-column-span: 3;
    grid-column-end: span 3; }
  .lg-grid-4 {
    -ms-grid-columns: (calc((100% - var(--gap) * 3) / 4))[4];
    grid-template-columns: repeat(4, calc((100% - var(--gap) * 3) / 4)); }
  .lg-cols-4 {
    -ms-grid-column-span: 4;
    grid-column-end: span 4; }
  .lg-grid-5 {
    -ms-grid-columns: (calc((100% - var(--gap) * 4) / 5))[5];
    grid-template-columns: repeat(5, calc((100% - var(--gap) * 4) / 5)); }
  .lg-cols-5 {
    -ms-grid-column-span: 5;
    grid-column-end: span 5; }
  .lg-grid-6 {
    -ms-grid-columns: (calc((100% - var(--gap) * 5) / 6))[6];
    grid-template-columns: repeat(6, calc((100% - var(--gap) * 5) / 6)); }
  .lg-cols-6 {
    -ms-grid-column-span: 6;
    grid-column-end: span 6; }
  .lg-grid-7 {
    -ms-grid-columns: (calc((100% - var(--gap) * 6) / 7))[7];
    grid-template-columns: repeat(7, calc((100% - var(--gap) * 6) / 7)); }
  .lg-cols-7 {
    -ms-grid-column-span: 7;
    grid-column-end: span 7; }
  .lg-grid-8 {
    -ms-grid-columns: (calc((100% - var(--gap) * 7) / 8))[8];
    grid-template-columns: repeat(8, calc((100% - var(--gap) * 7) / 8)); }
  .lg-cols-8 {
    -ms-grid-column-span: 8;
    grid-column-end: span 8; }
  .lg-grid-9 {
    -ms-grid-columns: (calc((100% - var(--gap) * 8) / 9))[9];
    grid-template-columns: repeat(9, calc((100% - var(--gap) * 8) / 9)); }
  .lg-cols-9 {
    -ms-grid-column-span: 9;
    grid-column-end: span 9; }
  .lg-grid-10 {
    -ms-grid-columns: (calc((100% - var(--gap) * 9) / 10))[10];
    grid-template-columns: repeat(10, calc((100% - var(--gap) * 9) / 10)); }
  .lg-cols-10 {
    -ms-grid-column-span: 10;
    grid-column-end: span 10; }
  .lg-grid-11 {
    -ms-grid-columns: (calc((100% - var(--gap) * 10) / 11))[11];
    grid-template-columns: repeat(11, calc((100% - var(--gap) * 10) / 11)); }
  .lg-cols-11 {
    -ms-grid-column-span: 11;
    grid-column-end: span 11; }
  .lg-grid-12 {
    -ms-grid-columns: (calc((100% - var(--gap) * 11) / 12))[12];
    grid-template-columns: repeat(12, calc((100% - var(--gap) * 11) / 12)); }
  .lg-cols-12 {
    -ms-grid-column-span: 12;
    grid-column-end: span 12; } }

@media screen and (min-width: 1424px) {
  .emagrid {
    width: 100%;
    margin-left: auto;
    margin-right: auto; } }

/* COMPLEMENT */
/* SECTION MENU AREA */
.header-area {
  width: 100%;
  position: absolute;
  z-index: var(--z-normal);
  padding-top: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#00000059), to(#ffffff00));
  background: -webkit-linear-gradient(top, #00000059, #ffffff00);
  background: -o-linear-gradient(top, #00000059, #ffffff00);
  background: linear-gradient(to bottom, #00000059, #ffffff00); }
  @media screen and (min-width: 961px) {
    .header-area {
      background: -webkit-gradient(linear, left top, left bottom, from(#00000059), to(#ffffff00));
      background: -webkit-linear-gradient(top, #00000059, #ffffff00);
      background: -o-linear-gradient(top, #00000059, #ffffff00);
      background: linear-gradient(to bottom, #00000059, #ffffff00); } }
  .header-area .emagrid {
    padding: 0; }
  .header-area .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .header-area .nav .nav-brand {
      font: normal 700 1.1rem var(--font-mont);
      height: 55px;
      overflow: hidden; }
      .header-area .nav .nav-brand img {
        height: 65px; }
    .header-area .nav .toggle-button {
      margin-left: auto;
      display: none;
      border: 1px solid var(--light);
      color: var(--primary-color);
      font-size: 1.5rem;
      padding: .1rem 1rem;
      border-radius: 5px;
      -webkit-box-shadow: var(--box-shadow);
      box-shadow: var(--box-shadow);
      cursor: pointer;
      height: 42px; }
      .header-area .nav .toggle-button:hover {
        color: var(--gray); }
    .header-area .nav .collapse {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 100%;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .header-area .nav .collapse .navbar-nav {
        margin: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        list-style-type: none;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        @media screen and (min-width: 961px) {
          .header-area .nav .collapse .navbar-nav {
            padding-left: 1rem;
            height: 35px; } }
        .header-area .nav .collapse .navbar-nav .nav-link {
          text-align: center;
          -webkit-transition: background .4s ease;
          -o-transition: background .4s ease;
          transition: background .4s ease;
          /* &:nth-child(5) {
                        width: 170px;
                    } */ }
          .header-area .nav .collapse .navbar-nav .nav-link .link {
            color: var(--light);
            display: block;
            padding: .5rem 1vw;
            -webkit-transition: background .7 ease;
            -o-transition: background .7 ease;
            transition: background .7 ease; }
          .header-area .nav .collapse .navbar-nav .nav-link:hover {
            background: var(--primary-color); }
            .header-area .nav .collapse .navbar-nav .nav-link:hover .subnavbar-nav {
              display: block; }
          .header-area .nav .collapse .navbar-nav .nav-link .subnavbar-nav {
            margin: 0;
            padding: 0;
            background: var(--yellow);
            display: none; }
            .header-area .nav .collapse .navbar-nav .nav-link .subnavbar-nav li {
              list-style: none; }
              .header-area .nav .collapse .navbar-nav .nav-link .subnavbar-nav li a {
                display: block;
                padding: .5rem 1vw;
                color: var(--primary-color); }
                .header-area .nav .collapse .navbar-nav .nav-link .subnavbar-nav li a:hover {
                  color: var(--light); }
              .header-area .nav .collapse .navbar-nav .nav-link .subnavbar-nav li:hover {
                background: var(--primary-color_alt); }
      .header-area .nav .collapse .search {
        margin-left: 1rem; }

@media screen and (max-width: 1124px) {
  .header-area {
    height: 55px;
    -webkit-transition: height .5s ease;
    -o-transition: height .5s ease;
    transition: height .5s ease;
    overflow-y: hidden; }
    .header-area .nav {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      height: 70px; }
      .header-area .nav .toggle-button {
        display: block !important; }
      .header-area .nav .collapse, .header-area .nav .navbar-nav {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        margin: auto;
        text-align: center; }
      .header-area .nav .form-group {
        display: inline-block;
        margin: 2% 0; }
      .header-area .nav .nav-link {
        padding: 10px 0 !important; } }

.nav-collapse {
  height: 100vh !important; }
  @media screen and (min-width: 961px) {
    .nav-collapse {
      padding-left: 1rem;
      height: 24rem !important; } }

/* SECTION BANNER AREA */
.banner-area {
  position: relative;
  padding: 0; }
  .banner-area .banner {
    position: relative;
    top: 0;
    z-index: var(--z-back);
    width: 100%;
    height: 100%; }
    .banner-area .banner img {
      height: 250px;
      display: block; }
      @media screen and (min-width: 768px) {
        .banner-area .banner img {
          height: auto; } }
  .banner-area .banner-title {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    font: normal 800 1.5rem/1rem var(--font-2);
    z-index: var(--z-fixed); }

/* SECTION MOVIE AREA */
.movie {
  position: relative; }
  .movie video.video-agencia {
    height: 100vh;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block; }
  .movie .movie_text {
    width: 100%;
    position: absolute;
    bottom: 1.7rem; }
    .movie .movie_text h1, .movie .movie_text h2 {
      font-size: 3.7rem;
      margin-bottom: 1.5rem;
      line-height: 3.7rem; }
      @media screen and (max-width: 520px) {
        .movie .movie_text h1, .movie .movie_text h2 {
          font-size: 2.5rem;
          margin-bottom: 0.8rem;
          line-height: 2.5rem; } }
    .movie .movie_text p {
      font-size: 1.5rem;
      margin: 1rem 0; }
      @media screen and (max-width: 520px) {
        .movie .movie_text p {
          font-size: 1rem;
          margin-top: 0.5rem;
          line-height: 1rem; } }
    .movie .movie_text h1, .movie .movie_text h2, .movie .movie_text p {
      display: block;
      width: 100%; }

/* OVERLAY PARA BANNER O MOVIE */
.overlay {
  background: #000;
  display: block;
  opacity: 1; }

/* SECTION FOOTER AREA */
footer {
  background: var(--primary-color);
  padding: 1.5rem 0 0; }

.galery, .featured_cat, .main-s {
  background: #fff !important; }

/* GALERIA */
/* CATEGORIA */
.featured_cat .cat-card {
  max-height: 260px;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .featured_cat .cat-card:hover:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: rgba(255, 255, 255, 0.2); }
  .featured_cat .cat-card a {
    display: block;
    position: relative;
    height: 260px;
    width: 100%; }

.featured_cat .article {
  display: block;
  position: relative;
  text-align: center;
  -webkit-box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.3);
  box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.3); }
  .featured_cat .article a h2 {
    margin: 0;
    background: rgba(54, 57, 64, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    color: var(--light);
    padding: .7rem;
    text-align: center;
    -webkit-transition: background .7s ease;
    -o-transition: background .7s ease;
    transition: background .7s ease;
    font-weight: 600;
    font-family: var(--font-2);
    font-size: 1.2rem; }
  .featured_cat .article:hover a h2 {
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    font-weight: 600; }

/* Main Blog */
.main-s {
  /* Seccion ASIDE */ }
  .main-s h2 {
    padding: .3rem 1rem;
    background: var(--dark);
    color: var(--light);
    font-size: 1.14rem; }
  .main-s #blog {
    padding-right: 10px; }
    .main-s #blog article.articleCard {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 2rem;
      /* IMAGEN */
      /* CONTENIDO */ }
      .main-s #blog article.articleCard a {
        padding-right: 1rem;
        display: block; }
        .main-s #blog article.articleCard a .imgerContainer {
          width: 300px;
          height: 200px;
          -webkit-transition: opacity .2s;
          -o-transition: opacity .2s;
          transition: opacity .2s;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center; }
        .main-s #blog article.articleCard a .sr-only {
          position: absolute;
          width: 1px;
          height: 1px;
          padding: 0;
          margin: -1px;
          overflow: hidden;
          clip: rect(0, 0, 0, 0);
          border: 0; }
      .main-s #blog article.articleCard .bodyContainer {
        position: relative;
        min-height: 200px;
        max-height: 200px; }
        .main-s #blog article.articleCard .bodyContainer h3, .main-s #blog article.articleCard .bodyContainer h2 {
          margin: 0;
          margin-bottom: .5rem; }
        .main-s #blog article.articleCard .bodyContainer p {
          text-align: justify;
          margin: 0;
          margin-bottom: .5rem;
          font-size: 15px; }
        .main-s #blog article.articleCard .bodyContainer a.btn {
          background: var(--gray_alt);
          color: var(--light);
          position: absolute;
          width: 100%;
          text-align: center;
          padding: .6rem 1rem;
          bottom: 0; }
          .main-s #blog article.articleCard .bodyContainer a.btn:hover {
            background: var(--gray); }
  .main-s #secondary {
    padding-left: 30px;
    border-left: 2px solid #f0f0f0;
    font-size: 15px; }
    .main-s #secondary .about-wrapper {
      padding: 0 0 30px; }
      .main-s #secondary .about-wrapper .about-image {
        width: 250px;
        height: 250px;
        margin: 0 auto 20px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; }
        @media screen and (min-width: 960px) {
          .main-s #secondary .about-wrapper .about-image {
            width: calc(100% - 80px);
            margin: 0 40px 20px;
            height: auto;
            padding-bottom: calc(100% - 80px); } }
    .main-s #secondary .legal-wrapper {
      border-top: 2px solid #f0f0f0;
      padding-top: 1rem; }

/* CABEZERA HEADER BANNER */
.banner-secundario {
  padding-top: 80px;
  background-image: -webkit-gradient(linear, left top, right top, from(#9d5299), color-stop(50%, #de204c), to(#f69121));
  background-image: -webkit-linear-gradient(left, #9d5299 0%, #de204c 50%, #f69121 100%);
  background-image: -o-linear-gradient(left, #9d5299 0%, #de204c 50%, #f69121 100%);
  background-image: linear-gradient(to right, #9d5299 0%, #de204c 50%, #f69121 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 250px;
  position: relative; }
  .banner-secundario .titulo-banner {
    position: relative; }
    .banner-secundario .titulo-banner .hero-text {
      text-align: center;
      color: #fff; }
      .banner-secundario .titulo-banner .hero-text span {
        width: 170px;
        height: 5px;
        margin: auto;
        background-color: #fff;
        display: block;
        margin: auto;
        margin-bottom: 20px;
        border-radius: 10px;
        opacity: 1; }
      .banner-secundario .titulo-banner .hero-text h1 {
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        font-family: sans-serif; }
